body {
	color: #000;
	background-color: white;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 4mm;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	background-color: inherit;
	clear: both;
	font-weight: bold;
	margin-top: 7mm;
}

table {
	font-size: inherit;
}

a {
	color: #22b;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #66d;
}

a:active {
	color: #66d;
}

td {
	white-space: nowrap;
	padding-right: 10px;
	padding-bottom: 2px;
	vertical-align: top;
}

span.code {
	font-family: "Lucida Console", Monaco, monospace;
}

span.small {
	font-size: 8pt;
	margin-left: 5pt;
}

ul {
	padding-left: 15px;
}​

ul.inline {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.inline li {
	display: inline;
	padding-right: 1em;
}

td.field {
	font-style: italic;
}

a.emaExpr {
	text-decoration: underline;
	color: black;
	font-weight: bolder;
}

.emaExpr .uri {
	color: #337ab7;
}

.emaExpr .mm {
	color: #AFBC21;
}

.emaExpr .ss {
	color: #5bc0de;
}

.emaExpr .bb {
	color: #f0ad4e;
}

#verovioBox {
	margin-top: 1em;
	padding: 1em;
	border: 1px solid Gray;
}